name: Publish Artifacts

on:
  workflow_run:
    workflows: [ 'Test' ]
    types:
      - completed
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          architecture: x64

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish artifacts
        run: ./gradlew publish -ProxymcUsername=${{ env.REPO_USER }} -ProxymcPassword=${{ env.REPO_PASS }}
        env:
          REPO_USER: ${{ secrets.REPO_USERNAME }}
          REPO_PASS: ${{ secrets.REPO_PASSWORD }}